@tailwind base;
@tailwind components;
@tailwind utilities;

/* Özel stiller */
@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter.ttf');
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }